* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans';
}

body {
    background-color: #efe3e5;
}

.container {
    width: 40%;
    min-height: 40vh;
    padding: 1rem 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffefef;
    border-radius: 1.4rem;
    border: 2px solid rgb(246, 196, 196);
}

h3 {
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container p {
    font-weight: 600;
    font-size: 1rem;
}

.container input {
    width: 100%;
    height: 1.9rem;
    border: 1.5px solid #494eea;
    outline: 0;
    padding: 1rem 0.5rem;
    margin: 1rem 0 2rem;
    border-radius: 0.4rem;
}

input:hover {
    padding: 1.1rem 0.6rem;
}

.container button {
    width: 100%;
    height: 50px;
    background: #2d2f75;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: .3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(46, 38, 127, 0.1);
    cursor: pointer;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
}

button:hover {
    background: #5052d7;
}

#imgbox {
    width: 7rem;
    max-height: 0;
    border-radius: 0.3rem;
    overflow: hidden;
    transition: max-height 0.5s;
    width: 100%;

}

#imgbox img {
    width: 100%;
    padding: 0.2rem;
    background-color: #faecec;
    margin-bottom: 4rem;
}


#imgbox.show-img {
    max-height: 7rem;
    margin: 0.11rem auto;
    border: 0.11rem solid rgb(252, 248, 248);
}

.container.show-img {
    max-height: 50vh;
}

#qrlimg {
    width: 70%;
    height: 70%;
}

.error {
    animation: shake 0.1s linear 10;
}

.title {
    position: absolute;
    top: 0.5rem;
    left: 1.3rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2rem;
    font-size: 150%;
    color: black;
}


#foot {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100vw;
}

#foot h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 90%;
    padding: 0.5rem 0;
    letter-spacing: 0.2rem;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}


/* -------------------------------- media queries ------------------------------ */

@media(max-width:1440px) {
    html {
        font-size: 90%;
    }

    .container.show-img {
        max-height: 150vh;
        width: 100%;
        margin: 0 auto;
    }

    #imgbox img {
        width: 57%;
        padding: 0.2rem;
        background-color: #faecec;
        margin: 0 auto;
        margin-bottom: 0.2rem;
        align-items: center;
        margin-right: -4rem;
    }

    #imgbox.show-img {
        max-height: 14rem;
        border: 0.11rem solid rgb(252, 248, 248);
        margin: 0.11rem auto;
        margin-right: 14rem;
    }

}



@media(max-width:1440px) {
    #imgbox.show-img {
        max-height: 14rem;
        border: 0.11rem solid rgb(252, 248, 248);
        margin: 0.11rem auto;
        margin-right: 8rem;
    }
}

@media(max-width:959px) {
    html {
        font-size: 90%;
    }

    .container {
        min-height: 37vh;
        width: 70vw;
    }

    h3 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .container p,
    input {
        font-size: 1.9rem;
    }

    .container input {
        height: 3.7rem;

    }

    .container button {
        height: 4rem;
        font-size: 1.9rem;
        margin-top: 1rem;

    }

    .container.show-img {
        max-height: 150vh;
        width: 100%;
        margin: 0 auto;
    }

    #imgbox img {
        width: 56%;
        padding: 0.2rem;
        background-color: #faecec;
        margin: 0 auto;
        margin-bottom: 0.2rem;
        align-items: center;
        margin-right: -4rem;
    }

    #imgbox.show-img {
        max-height: 14rem;
        border: 0.11rem solid rgb(252, 248, 248);
        margin: 0.11rem auto;
        margin-right: 30%;
    }

    .container.show-img {
        max-height: 50vh;
    }

    #imgbox {
        width: 13rem;
        max-height: 0;
        border-radius: 0.3rem;
        overflow: hidden;
        transition: max-height 0.5s;
        /* margin-bottom: 1rem; */
    }
}

@media(max-width:321px) {

    #foot h2 {
        font-size: 60%;
    }

    .container h3 {
        font-size: 250%;
    }

}

@media(max-width:450px) and (max-height:950px) {
    .container {
        min-height: 40vh;
        width: 90vw;
    }

    html {
        font-size: 70%;
    }

    .title {
        top: 1rem;
        font-size: 230%;
    }

    #imgbox.show-img {
        max-height: 14rem;
        border: 0.11rem solid rgb(252, 248, 248);
        margin: 0.11rem auto;
        margin-right: 25%;
    }
}

@media(max-width:413px) and (max-height:913px) {

    #imgbox img {
        width: 100%;
        padding: 0.2rem;
        background-color: #faecec;
        margin: 0 auto;
        margin-bottom: 0.2rem;
        align-items: center;
        margin-right: -4rem;
    }

    #imgbox.show-img {
        max-height: 14rem;
        border: 0.11rem solid rgb(252, 248, 248);
        margin: 0.11rem auto;
        margin-right: 32%;
    }

}


@media(max-width:950px) and (max-height:450px) {
    html {
        font-size: 70%;

    }

    #qrlimg {
        height: 7%;
        width: 7%;
    }
}

@media(max-width:380px) and (max-height:950px) {
    html {
        font-size: 60%;
    }
}

@media(max-width:625px) and (max-height:950px) {
    html {
        font-size: 60%;
    }
}


/* Code By - DATTA KALE */